---
title: "Big Bold Beautiful Balloons"
layout: splash
permalink: /
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/letterhead.jpg
  actions:
    - label: "Contact Us"
      url: "/contact-us/"
excerpt: "Bringing joy to every celebration with bespoke balloon garlands and giant balloon bouquets."

feature_row1:
  - image_path: /assets/images/hipster-mum-XookgCxFw6Q-unsplash.jpg
    alt: A single, large, clear balloon is completely wrapped in sheer black tulle, gathered and tied at the neck with the excess tulle creating a voluminous base. A black ribbon is tied to the base, which is held by a person's outstretched arm and hand. The background is solid white.
    caption: "Photo by [Hipster Mum](https://unsplash.com/@hipstermum) on [Unsplash](https://unsplash.com/)"
    title: "Our Passion"
    excerpt: "At Big Bold Beautiful Balloons, we are dedicated to bringing joy and color to your special occasions. With a passion for creativity and a commitment to excellence, we strive to exceed expectations and transform ordinary spaces into extraordinary experiences. We specialize in creating stunning balloon garlands customised to fit the theme and style of your event, ensuring a vibrant and festive atmosphere for all attendees. Stop giving small gifts for big moments!"

feature_row2:
  - image_path: /assets/images/bouquet-1.jpg
    alt: "A person holding a large, elegant balloon bouquet designed to look like a floral arrangement. The bouquet features a mix of matte peach/pink, rose gold, white, and metallic grey heart-shaped and round balloons. Including two large bows , a rose gold heart balloon reading "HAPPY BIRTHDAY", and a peach heart balloon with "29". The holder's lower legs are visible against a plain white background."
    title: "Giant Bouquets"
    excerpt: "When it comes to birthdays, anniversaries, or Valentine's Day, words can fall short - but a giant 1-metre balloon bouquet never does. It’s not just a decoration; it’s an experience."

feature_row3:
  - image_path: /assets/images/sj-38adackPTsI-unsplash.jpg
    alt: "A rose gold heart-shaped foil balloon is nestled among numerous round, clear balloons filled with confetti. In the background, shimmering rose gold tinsel streamers hang down, creating a festive backdrop under warm, golden lighting."
    caption: "Photo by [SJ](https://unsplash.com/@uxsj_ph) on [Unsplash](https://unsplash.com/)"
    title: "Personalisation"
    excerpt: "Make your birthday celebrations truly memorable with our joyful and vibrant balloon arrangements, handcrafted and personalised with your choice of name, occasion or party theme."
    url: "/contact-us/"
    btn_label: "Contact Us"
    btn_class: "btn--primary"
---

{% include feature_row id="feature_row1" type="left" %}

{% include feature_row id="feature_row2" type="right" %}

{% include feature_row id="feature_row3" type="center" %}